<% include ./partials/header.ejs%>

<%find.forEach(blog=>{ %>
<div class=" ui center aligned container main segment ">
    <div class="ui center aligned header">
      <h3><%=blog.title %></h3>  
    </div>
    
    <div class="ui centered big image">
        <img src="<%=blog.image%>"></br>
    </div>
    <div class="content">
       <span><%=blog.created.toDateString()%></span> 
    </div>
    <div class="description">
       <p><%-blog.body.substring(0,100)%>...</p> 
    </div>
    
    
    
    <a href="/blogs/<%=blog._id%>" class="ui inverted teal button">Read More</a>
</div>

<% })%>



<% include ./partials/footer.ejs %>