<% include ./partials/header.ejs%>
<div class="ui main text center aligned segment container">
     <div class="field ">
        <h3><%=foundeditem.title %></h3>
     </div >
     <div class="ui top attached  ">
         <div class="item">
           <img class="ui centered rounded image" src="<%=foundeditem.image%>">  
         </div>
         <div class="content ">
            <p>Writed by :<em>Yunus </em> at :  <span><%=foundeditem.created.toDateString()%></span></p>  
         </div>
         <div class="description">
             <p><%-foundeditem.body%></p>
         </div>
         <div class="segment">
             <form id="deleteform" method="POST" action="/blogs/<%=foundeditem._id%>?_method=DELETE">
                 <button class="ui red basic button">DELETE</button>
             </form>
             <a class="ui blue button" href="/blogs/<%=foundeditem._id%>/edit">EDİT</a>
              
         </div>
         
          
          
    </div>
</div>



<% include ./partials/header.ejs%>